azure-core==1.32.0
azure-cosmos==4.9.0
Flask==3.1.0
msal==1.20.0
blinker
certifi
charset-normalizer
click
colorama
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
requests
six
typing_extensions
urllib3
Werkzeug
flask_login